@import '../../styles/variables.scss';

.vz-checkbox {
  .form-check-input {
    border-radius: 2px;
    width: 1.25rem !important;
    height: 1.25rem !important;
    box-shadow: none !important;
    cursor: pointer !important;

    &:checked {
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' fill='%23B6DB1B'/%3E%3C/svg%3E%0A") !important;
      background-color: transparent !important;
      border-color: $light-gray-color !important;
    }
  }
}

/* Dark Mode */
.c-dark-theme {
  .vz-checkbox {}
}